.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 290px;
    margin: 0 8px 80px 8px;
}

.card:nth-of-type(5), .card:nth-of-type(9), .card:nth-of-type(13)  {
    margin: 0 8px 80px 0;
}

.card:first-of-type {
    margin: 0 8px 80px 0;
}

.card:nth-of-type(4n) {
    margin: 0 0 80px 8px;
}

.card__img-bg {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
}

.card__img {
    max-width: 100%;
}

.card__title {
    font-size: 36px;
    text-align: center;
    margin: 12px 0 0 0;
}

.card__about {
    text-align: center;
    margin: 12px 0 0 0;
}

.card__link {
    color: #4ac7e9;
    margin: 20px 0 0 0;
    text-align: center;
    display: block;
    text-decoration: none;
}